%h1 About Fruitback
%p
  Fruitback was originally programmed by Fritz Jacob and Robert Kuhf&szlig; for
  = link_to "Digineo GmbH", "http://www.digineo.de"
  during the AWE course in 2013 at the
  = link_to "University of Bremen", "http://uni-bremen.de"
  = "."