
%h1 Ideas

%table.table.table_small.table-hover.table-bordered
  %tbody
    - @ideas.each do |idea|
      %tr
        %td= link_to idea.title, site_idea_path(@site, idea)

- if can? :create, @idea
  = render 'form'