
= render 'ideas/idea', site: @site, idea: @idea, vote: @vote

-if !@idea.comments.empty?
  %h2 Comments
  - @idea.comments.each do |comment|
    = render 'comments/comment', comment: comment

- content_for :sidebar do
  - if can? :create, @comment
    %h3 Add comment
    = render 'comments/form', url: site_idea_comments_path(@site, @idea)
