%div.well.posting
  %p
    = comment.text
  
  %span.info
    Posted by #{link_to comment.user.name, profile_path(comment.user)}
    = distance_of_time_in_words(Time.now - comment.created_at)
    ago
  
  .clearfix