
= simple_form_for [@site, @idea, @comment], url: @url do |f|
  = f.error_notification
  
  %div.form-inputs
    = f.input :text, as: :text, input_html: { rows: 5 }, required: true
  
  %div.form-actions
    = f.button :submit