
%p
  %i.icon-eye-open
  = link_to "See this site as a visitor", site_path(@site), target: "_blank"
%p
  %i.icon-pencil
  = link_to "Settings", edit_customer_site_path(@site)
%p
  %i.icon-download-alt
  = link_to "Export site backup (json)", backup_path(@site)
