- content_for :sidebar do
  %h1= @site.name
  
  - if can? :create, @idea
    = render 'ideas/form'

  
%h2 Ideas

%table.table.table-hover.table-bordered
  %tbody
    - @ideas.each do |idea|
      %tr
        %td= link_to idea.title, site_idea_path(@site, idea)
