.container-fluid
  .row-fluid
    .span2.scrollable
      .well
        Erstens...
      .well
        Zweitens...
      .well
        Erstens...
      .well
        Zweitens...
      .well
        Erstens...
      .well
        Zweitens...
      .well
        Erstens...
      .well
        Zweitens...
      .well
        Erstens...
      .well
        Zweitens...
      .well
        Erstens...
      .well
        Zweitens...
    .span10
      %h1= @site.name

