
- if can? :create, @idea
  %h1 Post a new idea
  = render 'ideas/form'

- content_for :sidebar do
  %h1 Browse ideas
  - if !@ideas.empty?
    - @ideas.sort { |a, b| [b.votes.count, a.title] <=> [a.votes.count, b.title] }.each do |idea|
      %div.idea
        %a{href: site_idea_path(@site, idea), target: '_blank'}
          = render 'ideas/small_idea', site: @site, idea: idea
  - else
    = render 'ideas/empty'
