@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

//ci colors
$yellow: #FAE117;
$blue: #009FE3;
$light_gray: #B1B1B1;
$dark_gray: #333333;
//


// CUSTOM

p.logged-in {
  padding: 10px 0 0;
  margin: 0;
  color: #fff;
  float: right;
  text-weight: none;
  font-size: 11px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18px;
  color: #333;
  line-height: 25px;
}

h1 {
    font-size: 22px;
}
  
h2 {
  font-size: 20px;
}

p {
  font-family: 'Open Sans';
  font-weight: normal;
  color: #333;
  line-height: 23 px;
  
  a {
    font-style: bold;
	color: #009FE3;
  }
}

small {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 20px;
  color: #555;
}

body {
  background: $blue;
}

.main {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
}

.footer {
  font-family: 'Open Sans';
  font-size: 11px;
  text-align: center;
  
  a {
    color: $dark_gray;
  }
  
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
}

.alert-custom {
  margin-top: 20px;
}

.header {
  padding-top: 25px;
}

.logo {
  margin-top: -55px;
}



// BOOTSTRAP OVERWRITES

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.boolean {
  input {
    margin-bottom: 4px;
  }
  label {
    display: inline-block;
    margin-left: 5px;
  }
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: $yellow;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: $yellow;
}