// Place all the styles related to the micro_sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light_gray: #B1B1B1;

.scrollable {
  overflow-y: scroll;
}

body.micro {
  width: 800px;
  height: 500px;
  
  .main {
  }
  
  .content {
    padding: 0;
    overflow-y: scroll;
    height: 460px;
    padding: 20px;
  }
  
  .sidebar {
    padding: 0px;
  }

  
}

