// Place all the styles related to the micro_sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$yellow: #FAE117;
$blue: #009FE3;
$light_blue: #EFFFFF;
$light_gray: #B1B1B1;
$dark_gray: #333333;

body.micro {
  width: 800px;
  min-height: 500px;
  height: 500px;  

  // BOOTSTRAP OVERWRITES
  
  .container{
    width: 800px;
  }
  
  
  // CUSTOM
  
  .main {
    background: #fff;
  }
  
  .sidebar {
    height: 460px;
    min-height: 460px;
    background-color: #fff;
    overflow-y: scroll;
  }
  
  .content {
    height: 460px;
    min-height: 460px;
    background-color: #f5f5f5;
  }
  
}

