// Place all the styles related to the micro_sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light_gray: #B1B1B1;

body.micro {
  width: 800px;
  height: 500px;
  

  // BOOTSTRAP OVERWRITES
  .container{
    width: 800px;
  }
  
  .main {
  }
  
  
  .content {
    overflow-y: scroll;
    height: 460px;
    padding: 20px 20px 20px 0;
  }
  
  .sidebar {
    padding: 20px 0 20px 20px;
  }

  
}

