// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$customer_color: #FAE117;

body {
  background-color: $customer_color;
}

.spacer {
  height: 10px;
}
