
%h1 Your sites

%table.table.table-hover.table-bordered
  %tbody
    - @sites.each do |site|
      %tr
        %td= link_to site.name, site_path(site)

- if can? :create, @site
  %h2 Create new site
  = render 'form'