
%h1 Sites I posted on

- if @sites.present?
  %table.table.table-hover.table-bordered
    %tbody
      - @sites.each do |site|
        %tr
          %td= link_to site.name, site_ideas_path(site)
- else
  = render 'ideas/empty'
