
%h2 What is Fruitback?
%p Fruitback is an open source project started in February 2013 at the University of Bremen.

%h3 For your web app
%p Embed Fruitback in your web app with just a single snippet of code to create a seamless customer service experience for users.

%h3 For your brand
%p Fruitback lets your users post, discuss, and search for ideas.
