!!!
%html
  %head
    = render 'layouts/shim'
    %title Fruitback
  
  %body.micro
    %div.container
      %div.container-fluid.main
        %div.row-fluid
        
          %div.span4
            %div.content
              = yield
          
          %div.span8
            %div.sidebar
              = render 'layouts/alert'
              = yield :sidebar
          